---
import type { PokemonListResponse } from '@interfaces/pokemon-list.response'
import MainLayout from '@layouts/MainLayout.astro'
import PokemonCard from '@components/pokemons/PokemonCard.astro'
import Title from '@components/shared/Title.astro'

const title = 'Pokémon Static | Home'

const response = await fetch('https://pokeapi.co/api/v2/pokemon')

const data = (await response.json()) as PokemonListResponse
---

<MainLayout title={title}>
  <Title>Pokémon List</Title>
  <section
    aria-label='Pokémon List'
    class='grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5'
  >
    {data.results.map(({name, url}) => <PokemonCard name={name}, url={url} />)}
  </section>
</MainLayout>
